.pagination {
  padding: 24px;
  display: flex;
}

.navigation {
  display: flex;

  & > * {
    margin: 0 4px;
    font-size: 12px;
    padding: 6px 8px;
    border-radius: 5px;
    cursor: pointer;
  }
}

.active {
  font-weight: 700;
  background-color: #e0e0e0;
}

.selection {
}
