@import '../../sass/main.scss';

.eventCell {
  position: relative;
  padding: 18px 0;
  color: transparent;
  width: 10px;
  height: 10px;
  font-size: 0;

  &::before,
  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 6px;
    background-color: $color-light;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  &:hover .tooltip {
    opacity: 1;
    animation: fadeIn 0.3s;
  }
}

.tooltip {
  opacity: 0;
  background-color: $color-grey-dark-3;
  color: $color-white;
  padding: 14px;
  border-radius: 5px;
  position: absolute;
  z-index: 1000;
  bottom: 6px;
  left: 0;
  font-size: 12px;
  transform: translate(-100%, 0%);
  white-space: nowrap;
  pointer-events: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
