$color-light: #fafafa;
$color-white: #fff;
$color-black: #000;

$color-grey-light-1: #e0e0e0;

$hl-color: #2196f3;

$color-grey-dark-3: #424242;

$muted-color: mix(white, $color-grey-dark-3, 70%);

$trans-time: 200ms;
$input-width: 200px;

$shadow-1: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
