@import '../../sass/main.scss';

.tableContainer {
  max-height: 100%;
  width: 100%;
  margin: 0 auto;
  overflow: auto;
  display: flex;
  flex: 1;
}

.timelineTable {
  border-collapse: collapse;
  width: auto;
  margin: 0 auto;
  height: fit-content;

  & th:first-child,
  & tr td:first-child {
    position: sticky;
    left: 0;
    z-index: 10;
    background-color: $color-white;
    padding: 6px 24px;
    white-space: nowrap;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;

    @include respond(phone) {
      max-width: 100px;
      padding: 6px 12px;
    }
  }

  & th {
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 0 12px;
    background-color: $color-white;
    border-bottom: $color-white solid 2px;
  }

  th:first-child {
    z-index: 100;
    top: 0;
    left: 0;
  }

  & tbody {
    font-size: 14px;
    max-height: 80vh;
  }

  @include respond(tab-port) {
    font-size: 14px;
  }
}
