@import '../../sass/main.scss';

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 12px 0;

  @include respond(tab-port) {
    flex-direction: column;
  }
}
