@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:wght@100;300;400;500;700;900&display=swap');

$bg-color: #424242;
$hl-color: #2196f3;
$muted-color: mix(white, $bg-color, 70%);
$trans-time: 200ms;
$width: 200px;

.timelineContainer {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
  background-color: #fafafa;
  padding: 18px 18px 18px 0;
  margin: 24px 24px 24px 24px;
  overflow-x: auto;
  border-radius: 5px;
}

.timelineHeadline {
  position: sticky;
  left: 0;
  z-index: 1;
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  font-weight: 500;
}

.timelineActions {
  display: flex;
  align-items: center;

  & *:not(:last-child) {
    margin-right: 12px;
  }
}

.timelineTable {
  border-collapse: collapse;
  margin-top: 36px;

  & th:first-child,
  & tr td:first-child {
    position: sticky;
    left: 0;
    z-index: 1;
    background-color: #fafafa; /* Set the background color as needed */
    padding: 6px 32px;
    width: 100%;
    white-space: nowrap;
  }

  & th {
    padding: 0 12px;
    border-bottom: #e0e0e0 solid 2px;
  }

  & tbody {
    font-size: 14px;

    tr {
      position: relative;
    }

    & .eventCell::before,
    & .eventCell::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      height: 2px;
      background-color: #fafafa;
    }

    & .eventCell::before {
      top: 0;
    }

    & .eventCell::after {
      bottom: 0;
    }
  }
}

.eventCell {
  padding: 6px 0;
  color: transparent;
  width: 14px;
  height: 14px;
  font-size: 0;
}

.btn {
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto', sans-serif;
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  text-align: center;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: 500;
  outline: none;

  &:hover {
    background-color: #ccc;
  }
}

.inputGroup {
  position: relative;
  margin: 24px 0;

  input {
    background: none;
    color: $muted-color;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: $width;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid $muted-color;
    &:focus {
      outline: none;
    }
    &:focus ~ label,
    &:valid ~ label {
      top: -14px;
      font-size: 12px;
      color: $hl-color;
    }
    &:focus ~ .bar:before {
      width: $width;
    }
  }

  label {
    color: $muted-color;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: $trans-time ease all;
  }

  .bar {
    position: relative;
    display: block;
    width: $width;
    &:before {
      content: '';
      height: 2px;
      width: 0;
      bottom: 0px;
      position: absolute;
      background: $hl-color;
      transition: $trans-time ease all;
      left: 0%;
    }
  }
}
