@import './sass/main.scss';

.timelineContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0;
  box-sizing: border-box;
  box-shadow: $shadow-1;
  background-color: $color-light;
  margin: 24px 0;
  border-radius: 5px;
  width: 100%;
  max-height: calc(100vh - (2 * 24px));
}

.timelineHeadline {
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  font-weight: 500;

  @include respond(phone) {
    padding: 0 0 12px;
    flex-direction: column;
  }

  @include respond(tab-port) {
    margin: 0 0 12px;
  }
}

.monthYear {
  margin: 12px 0 0;
}

.tableContainer {
  max-height: 80%;
  width: 100%;
  margin: 0 auto;
  overflow: auto;
  display: flex;
  padding: 0 12px;
}

.timelineTable {
  border-collapse: collapse;
  width: auto;
  margin: 0 auto;

  & th:first-child,
  & tr td:first-child {
    position: sticky;
    left: 0;
    z-index: 10;
    background-color: $color-light;
    padding: 6px 24px;
    white-space: nowrap;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;

    @include respond(phone) {
      max-width: 100px;
      padding: 6px 12px;
    }
  }

  & th {
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 0 12px;
    background-color: $color-light;
    border-bottom: $color-grey-light-1 solid 2px;
  }

  & tbody {
    font-size: 14px;
    max-height: 80vh;
  }

  @include respond(tab-port) {
    font-size: 14px;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;

  @include respond(tab-port) {
    flex-direction: column;
  }
}
