@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('./button.module.css');

.timelineContainer {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
  background-color: #fafafa;
  padding: 18px 18px 18px 0;
  margin: 24px 24px 24px 24px;
  overflow-x: auto;
  border-radius: 5px;
}

.timelineHeadline {
  position: sticky;
  left: 0;
  z-index: 1;
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  font-weight: 500;
}

.timelineActions {
  display: flex;
  align-items: center;
}

.timelineActions .btn:not(:last-child) {
  margin-right: 12px;
}

.timelineTable {
  border-collapse: collapse;
  margin-top: 36px;
}

.timelineTable th:first-child,
.timelineTable tr td:first-child {
  position: sticky;
  left: 0;
  z-index: 1;
  background-color: #fafafa; /* Set the background color as needed */
  padding: 6px 32px;
  width: 100%;
  white-space: nowrap;
}

.timelineTable th {
  padding: 0 12px;
  border-bottom: #e0e0e0 solid 2px;
}

.container::-webkit-scrollbar {
  width: 4px; /* Width of the scrollbar */
  background-color: #f5f5f5; /* Background color of the scrollbar track */
}

.container::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scrollbar thumb */
  border-radius: 4px; /* Rounded corners of the scrollbar thumb */
}

.container::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color of the scrollbar thumb on hover */
}

.container::-webkit-scrollbar-track {
  background-color: #f5f5f5; /* Background color of the scrollbar track */
  border-radius: 4px; /* Rounded corners of the scrollbar track */
}

.container::-webkit-scrollbar-track:hover {
  background-color: #ddd; /* Background color of the scrollbar track on hover */
}

.eventCell {
  padding: 6px 0;
  color: transparent;
  max-width: 12px;
  max-height: 12px;
  white-space: nowrap;
  overflow: hidden;
}

.duration {
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.start {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.end {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.timelineTable tbody tr {
  position: relative;
}

.timelineTable tbody .eventCell::before,
.timelineTable tbody .eventCell::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #fafafa;
}

.timelineTable tbody .eventCell::before {
  top: 0;
}

.timelineTable tbody .eventCell::after {
  bottom: 0;
}
