@import './sass/main.scss';

.timelineContainer {
  padding: 12px 0;
  margin: 0;
  width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  box-shadow: $shadow-1;
  background-color: $color-light;
  border-radius: 5px;
  overflow-y: auto;
}

.timelineHeadline {
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px 12px;
  font-weight: 500;

  @include respond(phone) {
    padding: 0 0 12px;
    flex-direction: column;
  }

  @include respond(tab-port) {
    margin: 0 0 12px;
  }
}

.noData {
  text-align: center;
  margin: 48px 0;
  line-height: 30px;
}
