@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:wght@100;300;400;500;700;900&display=swap');

.timelineContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
  background-color: #fafafa;
  margin: 24px 0;
  overflow: auto;
  border-radius: 5px;
  width: 100%;
}

.timelineHeadline {
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  font-weight: 500;
}

.tableContainer {
  max-height: 80vh;
}

.timelineTable {
  border-collapse: collapse;

  & th:first-child,
  & tr td:first-child {
    position: sticky;
    left: 0;
    z-index: 10;
    background-color: #fafafa;
    padding: 6px 32px;
    white-space: nowrap;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  & th {
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 0 12px;
    background-color: #fafafa;
    border-bottom: #e0e0e0 solid 2px;
  }

  & tbody {
    font-size: 14px;
    max-height: 80vh;
  }
}
